<div class="flex flex-col w-full items-center p-2 m-2">
  <h1 class="mt-5 mb-20">Welcome to Budget Mate</h1>
  <%= image_tag "budgetmate.png", width: 200 %>
  <%= link_to 'Sign in', new_user_session_path %><br>
  <%= link_to 'Sign up', new_user_registration_path %>
</div>
