<nav class="bg-sky-600 flex justify-between shadow w-full">
    <div class="flex items-center mx-2 w-full justify-between h-16">
    <%= link_to image_tag("back.png", width: 30), "/" %>
      <div class="flex items-center">
        <div class="flex-shrink-0 text-white">
          <%= @page_name %>
        </div>
      </div>
      <%= image_tag "search.png", width: 30 %>
  </div>
</nav>
